[main]
host = "::"
port = 5000
# optional, to validate Drone webhook requests. must match
# DRONE_WEBHOOK_SECRET envvar in Drone. Any requests not
# signed using this secret by Drone will 401
#secret = "some-secret-value"
# optional, defaults to false

[bot."@mybot:myserv.er"]
kind = "matrix"
mxid = "@mybot:myserv.er"
access_token = "AAAAAAABBBBBBBBBCCCCCCDDDDDDD"
# Specify a recovery token and the bot will verify the crypto session. This is
# only required once, after which it can be removed and the application restarted
# recovery_key = "EAAA BBBB ..."
db_path = "path/to/matrix.sqlite"

[notifier."matrix drone notifications"]
bot = "@mybot:myserv.er"
room = "!aaaaaaaaaaaaa:myserv.er"
# List of build statuses to trigger a notification for. If
# absent, all build statuses will trigger a notification.
status = ["success", "failure"]
# List of repos to use this notifier for. If absent, all repos
# will trigger a notification.
repos = [
  "myuser/myrepo",
  # Globs can be used
  "myorg/*",
  # Repos beginning with ! are ignored
  "!myorg/ignoreme",
  "!spammer/*",
]
