[main]
host = ::
port = 5000
token = TOKEN
# optional, to validate Drone webhook requests. must match
# DRONE_WEBHOOK_SECRET envvar in Drone. any requests not
# signed using this secret by Drone will 401
#secret = some-secret-value
# optional, defaults to false
#debug = true

[channels]
default = REQUIRED_VALUE
spritsail/example = SECONDARY CHANNEL
failure = SECOND_CHANNEL_TO_NOTIFY_ON_FAIL
